<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Pagination Demo</title>
</head>
<body>
<div class="container">
    <div layout:fragment="header"><h1>中国区县列表</h1></div>
    <div layout:fragment="content">
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>省份</th>
                <th>城市</th>
                <th>区县</th>
            </tr>
            </thead>

            <tr th:each="d:${page.content}">
                <th scope="row" th:text="${d.id}">#</th>
                <th th:text="${d.province}">省份</th>
                <th th:text="${d.city}">城市</th>
                <th th:text="${d.district}">区县</th>
            </tr>

        </table>
        <div th:replace="page"></div>
    </div>
</div>
</body>
</html>